
<h2>
    Enter Your Mail ID to generate Password
</h2>

<form action="/user/setup-forgotpassword" method="POST">

    <input type="email" name="email" placeholder="Enter Mail" required>

    <button type="submit">SUBMIT</button>
</form>
